* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  background-color: blue;
  display: block;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

footer {
  bottom: 0;
  background-color: blue;
  display: block;
}

.Experience__product {
  width: 1100px;
  height: 350px;
  background-color: #999;
  border: 5px solid #333;
  padding: 5px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.Experience__product__image {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.Experience__container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.Experience__Info {
  width: 550px;
  height: 300px;
  background-color: yellow;
  border: 5px solid #333;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 150px;
  margin-bottom: 50px;
  /* margin-left: 410px; */
}

.Experience__Info__top {
  display: -webkit-box;
}

.Experience__Info__top > ul {
  margin: 0 40px;
}

.Experience__Info__bottom {
  display: -webkit-box;
}

.Experience__Info__bottom > p1 {
  margin: 0 40px;
}

.Experience__ExchangeBox {
  height: 500px;
  display: flex;
  position: relative;
  margin-right: 550px;
}

.Experience__ExchangeKR {
  width: 550px;
  height: 150px;
  background-color: green;
  border: 5px solid #333;
  padding: 5px;
  box-sizing: border-box;

  position: absolute;
  top: 150px;

  /* margin-top: 50px; */
  /* margin-left: 50px; */
}

.Experience__ExchangeOther {
  width: 550px;
  height: 150px;
  background-color: green;
  border: 5px solid #333;
  padding: 5px;
  box-sizing: border-box;

  position: absolute;
  top: 300px;

  /* margin-top: 300px;
  margin-bottom: 50px;
  margin-right: 150px; */
}
